.board-list {
  list-style: none;
  padding-left: 0;
}

.board-list li {
  text-align: left;
  margin-bottom: 2px;
  background-color: #ffffff;
}

.boards-list-section {
  margin: 14px;
  padding: 20px;
  box-shadow: 1px 1px 14px rgba(0,0,0,0.6);
}

.boards-list-section h2 {
  text-align: left;
  border-bottom: 1px solid #333;
}

.board-li {
  border-bottom: 1px solid #e0e0e0;
  padding: 8px 0px;
}
