.forum-post-user {
    background-color: #eeeeee;
    width: 100px;
    float: left;
  }
  
  .forum-post-user img {
    width: 60px;
    height: auto;
  }
  
  .forum-post-content {
    margin-left: 100px;
    margin-right: 25px;
    background-color: #ffffff;
  }

  .forum-post-clear {
      clear: both;
  }