.forum-post-list {
  list-style: none;
  padding-left: 0;
}

.forum-post-list li {
  margin-bottom: 3px;
}

.forum-post-header {
  text-align: left;
  background-color: #F4F4F4;
}
.forum-post-footer {
  text-align: right;
}

.forum-post-content {
  padding: 10px;
}

.forum-post-text {
  padding: 4px 0px;
  text-align: left;
}

.forum-post-num {
  float: right;
}

.forum-post-list .forum-post-user {
  background-color: #eeeeee;
  width: 100px;
  float: left;
}

.forum-post-list .forum-post-user img {
  width: 60px;
  height: auto;
}

.forum-post-list .forum-post-content {
  margin-left: 100px;
  background-color: #ffffff;
}

.forum-post-clear {
  clear: both;
}