.forum-post-list {
  list-style: none;
  padding-left: 0;
}

.forum-post-list li {
  margin-bottom: 3px;
}

.forum-post-header {
  text-align: left;
  background-color: #F4F4F4;
  padding-left: 15px;
  padding-right: 6px;
}
.forum-post-footer {
  text-align: right;
}

.forum-post-content {
  padding-left: 12px;
  padding-bottom: 12px;
}

.forum-post-text {
  padding: 4px 0px;
  text-align: left;
}

.forum-post-num {
  float: right;
}

.forum-post-list .forum-post-user {
  background-color: #eeeeee;
  width: 100px;
  float: left;
}

.forum-post-list .forum-post-user img {
  width: 60px;
  height: auto;
}

.forum-post-list .forum-post-content {
  margin-left: 100px;
  background-color: #ffffff;
}

.forum-post-clear {
  clear: both;
}

/*-----*/

.view-thread-page {
  margin: 14px;
  padding: 20px;
  box-shadow: 1px 1px 14px rgba(0,0,0,0.6);
}

.view-thread-page h2 {
  text-align: left;
  border-bottom: 1px solid #333;
}

.post-top-spacer {
  background-color: #E8E8E8;
  border-bottom: 1px dotted black;
  margin-bottom: 15px;
  height: 24px;
}

.forum-post-container {
  padding-bottom: 25px;
}

.post-quote {
  background-color: #FFF7ED;
  border: 1px solid rgb(137, 167, 186);
  border-radius: 10px;
  overflow: hidden;
  margin: 15px 0;
}
.post-quote-header {
  background-color: #FFF1E1;
  padding: 4px 10px;
  font-size: 80%;
}
.post-quote-body {
  padding: 10px 15px;
}
.post-quote-header a {
  text-decoration: none;
  color: #004D97;
  margin: 0px 3px;
}
.post-quote-header a:hover {
  color: #004D97;
  text-decoration: none;
}

.make-post-forum textarea {
  width: 90%;
  height: 150px;
}

@media screen and (max-width: 600px) {
  .forum-post-list .forum-post-user {
    display: block;
    width: 100%;
    float: unset;
  }

  .forum-post-list .forum-post-content {
    display: block;
    margin-left: 0px;
    padding: 0;
  }

  .forum-post-list .forum-post-text {
    margin-top: 5px;
  }

  .forum-post-header {
    display: block;
    width: 100%;
  }

  .forum-post-num {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}