.thread-list {
  padding-left: 0;
  list-style: none;
}

.thread-list .forum-thread-name {
  background-color: #ffffff;
  width: auto;
  text-align: left;
}

.forum-thread-info {
  background-color: #ffffff;
}
.thread-list li {
  margin-bottom: 2px;
}

.forum-thread-info > span {
  margin-left: 7px;
  margin-right: 7px;
}

/* Landscape */
@media screen and (orientation:landscape) {
  .forum-thread-info > span {
    display: block;
  }
  .thread-list li {
    display: table;
    table-layout: fixed;
    width: 100%;
    word-wrap: normal;
    margin-bottom: 2px;
  }
  
  .thread-list li > div {
    display: table-row;
  }
  
  .thread-list li > div > * {
    display: table-cell;
  }

  .thread-list .forum-thread-info {
    background-color: #eeeeee;
    width: 150px;
  }
}

/*----*/

.thread-list-section {
  margin: 14px;
  padding: 20px;
  box-shadow: 1px 1px 14px rgba(0,0,0,0.6);
}

.thread-list-section h2 {
  text-align: left;
  border-bottom: 1px solid #333;
}

.thread-li {
  border-bottom: 1px solid #e0e0e0;
  padding: 8px 0px;
}
